@mixin btn-prop {
    background: linear-gradient(113deg, $bg-gold 50%, #212121 0);
    border: none;
    color: #fff;
    background-position: calc(100% + 2px) -2px;
    background-repeat: no-repeat;
    background-size: calc(220% + 4px) calc(100% + 4px);
    transition: background .2s ease-in-out;
    border-radius: 0.5rem;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1px;
    text-transform: uppercase;
    padding: 1.3rem 1.5rem;
}
@mixin btn-prop-hover {
    color: #fff;
    box-shadow: none;
    outline: none;
    background-position: 50% -2px;
}
@mixin banner-prop {
    background-position: center;
    background-size: cover;
}
@mixin title-prop {
    font-size: 1.8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}
@mixin view-all-prop {
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}
@mixin product-info {
    .swiper-slide {
        background-color: #fff;
        .slider-pic {
            img {
                width: 100%;
            }
            overflow: hidden;
            cursor: pointer;
            .cart-btn {
                a {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    background-color: $bg-primary;
                    box-shadow: 2px 4px 1px -4px #000000b3 inset, -2px 3px 10px -4px #fff3 inset;
                    padding: 1rem;
                    font-size: 2rem;
                    border-radius: 5rem;
                    width: 5rem;
                    opacity: 0;
                    height: 5rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
            .gallery-pic {
                opacity: 0;
                transition: opacity 0.4s ease-in-out;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
            .main-pic {
                opacity: 1;
                transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
            }
            #sale-badge {
                right: 2rem;
                top: 2rem;
                background-color: #BD1F00;
                color: #fff;
                font-size: 1.4rem;
                padding: 0.5rem 1rem;
                border-radius: 0.5rem;
                line-height: 19px;
            }
            &:hover .main-pic {
                opacity: 0;
                transform: scale(1.05);
            }
            &:hover .gallery-pic {
                opacity: 1;
            }
            &:hover .cart-btn {
                a {
                    opacity: 1;
                }
            }
        }
        .slider-box {
            padding:1rem 2rem 2rem;
            border-top: 1px solid #EAEBED;
            h3 {
                font-size: 1.8rem;
                margin: 2rem 0rem 1rem;
            }
            h4 {
                font-size: 1.6rem;
                margin-bottom: 0.5rem;
                .regular-price {
                    color: red;
                    text-decoration: line-through;
                    margin-right: 1rem;
                }
            }
            .star-rating {
                font-size: 1.2rem;
                color: $bg-gold;
            }
            h5 {
                font-size: 1.4rem;
                margin-top: 1rem;
                color: #00ff88;
                animation: flashColor 1s linear infinite;
            }
        }
    }
}
