@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&family=Poppins:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600&display=swap");
:root {
  --ss-poppins: "Poppins", sans-serif;
  --ss-playfair: "Playfair Display", serif;
  --ss-josefin: "Josefin Sans", sans-serif;
  --ss-font500: 500;
  --ss-font600: 600;
  --ss-font700: 700;
  --ss-font800: 800;
  --ss-fontbold: bold;
  --ss-primary: #181818;
  --ss-secondary: #6e767d;
}

body {
  font-family: var(--ss-josefin);
  font-weight: 400;
  background-color: #181818;
  color: #6e767d;
  font-style: normal;
  font-size: 1.6rem;
  overflow-x: hidden;
}

ul, li, p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  list-style: none;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  transition: all 0.5s;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

p {
  font-size: 1.6rem;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: #6e767d;
}

a:hover {
  color: #D4AF37;
}

.fa-regular {
  font-family: "FontAwesome";
}

/* Common CSS*/
.slick-slide img {
  display: inherit !important;
}

.p-100 {
  padding: 10rem 0rem;
}

.p-70 {
  padding: 7rem 0rem;
}

.p-50 {
  padding: 5rem 0rem;
}

.common-btn {
  background: linear-gradient(113deg, #D4AF37 50%, #212121 0);
  border: none;
  color: #fff;
  background-position: calc(100% + 2px) -2px;
  background-repeat: no-repeat;
  background-size: calc(220% + 4px) calc(100% + 4px);
  transition: background 0.2s ease-in-out;
  border-radius: 0.5rem;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1px;
  text-transform: uppercase;
  padding: 1.3rem 1.5rem;
}

.common-btn:hover {
  color: #fff;
  box-shadow: none;
  outline: none;
  background-position: 50% -2px;
}

button {
  border: none;
  background-color: transparent;
}

.form-control {
  border: none;
  background-color: transparent;
  padding: 0;
}

.dropdown-toggle::after {
  content: "\f107";
  font-family: "FontAwesome";
  vertical-align: middle;
  border: none;
}

.swiper-button-next, .swiper-button-prev {
  color: #181818 !important;
}

.title-area ul {
  justify-content: space-between;
}
.title-area ul li h3 {
  font-size: 1.8rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.title-area ul li a {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/* Topbar Area*/
/*shrink*/
.shrink {
  position: sticky;
  top: 0;
  z-index: 2;
  padding: 2rem 0rem;
  width: 100%;
  transition-delay: 0.09s;
  transition: 0.7s;
  animation: smoothScroll 1s;
  background-color: #fff;
}

@keyframes smoothScroll {
  0% {
    transform: translateY(-40px);
  }
  100% {
    transform: translateY(0px);
  }
}
/* Tobar Area*/
.topbar-area {
  background-color: #181818;
  padding: 1rem 0rem;
  margin-bottom: 3rem;
  border-bottom: 1px solid #414141;
}
.topbar-area .topbar-left p {
  color: #6e767d;
  font-size: 1.8rem;
}
.topbar-area .topbar-right ul {
  gap: 1.5rem;
  justify-content: end;
  align-items: center;
}
.topbar-area .topbar-right ul li {
  color: #6e767d;
}
.topbar-area .topbar-right ul li a {
  font-size: 1.8rem;
  color: #6e767d;
}
.topbar-area .topbar-right ul li a span {
  vertical-align: middle;
  font-size: 1.5rem;
}
.topbar-area .topbar-right ul li a:hover {
  color: #D4AF37;
}

/*header area */
.header-area {
  background-color: #181818;
}
.header-area .header-left img {
  max-height: 7rem;
  filter: brightness(1) invert(1);
}
.header-area .header-middle .form-area {
  border-radius: 5rem;
  align-items: center;
  background-color: #212121;
}
.header-area .header-middle .form-area input {
  width: 50rem;
  padding-left: 2rem;
  border: none;
  border-radius: 5rem;
  outline: none;
  background-color: transparent;
  color: #6e767d;
}
.header-area .header-middle .form-area select {
  width: 100%;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  color: #6e767d;
}
.header-area .header-middle .form-area .form-control {
  font-size: 1.8rem;
}
.header-area .header-middle .form-area .search-btn {
  background-color: #D4AF37;
  padding: 1.5rem 2rem;
  margin-left: 2rem;
  border-radius: 0rem 5rem 5rem 0rem;
  font-size: 1.8rem;
}
.header-area .header-right ul {
  justify-content: end;
  gap: 3rem;
}
.header-area .header-right ul li a i {
  border: 2px dotted #6e767d;
  padding: 1rem;
  font-size: 1.6rem;
  border-radius: 5rem;
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-area .category-area .cat-dropdown button {
  font-size: 1.6rem;
  text-align: left;
  background-color: #212121;
  border: none;
  outline: none;
  padding: 1rem;
}
.header-area .category-area .cat-dropdown button span {
  margin-right: 1rem;
}
.header-area .category-area .cat-dropdown .dropdown-toggle::after {
  position: absolute;
  right: 1.5rem;
}
.header-area .category-area .cat-dropdown ul {
  padding: 0;
}
.header-area .category-area .cat-dropdown ul li a {
  font-size: 1.6rem;
  padding: 1rem;
}
.header-area .category-area .cat-dropdown ul li a span {
  margin-right: 1rem;
}
.header-area .menu-area ul {
  gap: 3rem;
}
.header-area .menu-area ul li a {
  font-size: 1.8rem;
}
.header-area .menu-area .sale-badge {
  display: inline-block;
  color: #007bff;
  animation: flashColor 1s linear infinite;
}
@keyframes flashColor {
  0% {
    color: #007bff;
  }
  100% {
    color: #00ff88;
  }
}

.banner-area .banner-swiper .swiper-slide {
  text-align: left;
  background: #fff;
  padding: 4rem;
}
.banner-area .banner-swiper .swiper-slide h5 {
  font-size: 1.6rem;
  background-color: #D4AF37;
  padding: 1rem 1rem 0.8rem;
  color: #181818;
  display: inline-block;
  border-radius: 0.5rem;
  line-height: 1.2rem;
}
.banner-area .banner-swiper .swiper-slide h1 {
  font-size: 4rem;
  color: #181818;
  margin: 2rem 0rem 1rem;
  font-family: var(--ss-poppins);
}
.banner-area .banner-swiper .swiper-slide p {
  font-size: 1.8rem;
  margin-bottom: 2rem;
}
.banner-area .banner-swiper .swiper-slide .slider-box {
  width: 60%;
}
.banner-area .banner-swiper .swiper-slide .slider-pic {
  width: 40%;
}
.banner-area .banner-swiper .swiper-slide .slider-pic img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.banner-area .banner-swiper .swiper-pagination-bullet-active {
  background-color: #181818;
}
.banner-area .autoplay-progress {
  position: absolute;
  right: 1.6rem;
  bottom: 1.6rem;
  z-index: 10;
  width: 5rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #181818;
}
.banner-area .autoplay-progress svg {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  stroke-width: 4px;
  stroke: #D4AF37;
  fill: none;
  stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  transform: rotate(-90deg);
}
.banner-area .swiper-button-next,
.banner-area .swiper-button-prev {
  display: none !important;
}
.banner-area .side-banner {
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  gap: 1.5rem;
}
.banner-area .side-banner .side-banner-box {
  background-image: url(../images/banner-right.png);
  background-position: center;
  background-size: cover;
  padding: 4rem;
  height: 100%;
  transform: scale(1);
  transition: 0.3s ease-in-out;
}
.banner-area .side-banner .side-banner-box h4 {
  color: #181818;
  font-size: 2rem;
  animation: flashColor 1s linear infinite;
}
.banner-area .side-banner .side-banner-box1 {
  background-image: url(../images/banner-right1.png);
}

.text-animated-area h4 {
  display: flex;
  align-items: baseline;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  font-size: 2.5rem;
  background-color: #212121;
  padding: 1.8rem 0rem;
}
.text-animated-area h4 b {
  -webkit-text-stroke-width: 1px;
  color: transparent;
  -webkit-text-stroke-color: #D4AF37;
  -webkit-text-fill-color: transparent;
}
.text-animated-area h4 span {
  animation: ninethemeMarquee 5s linear infinite;
  padding-left: 2rem;
  animation-duration: 6s;
}
@keyframes ninethemeMarquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.popular-area .title-area {
  padding: 0rem 0rem 2rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid #414141;
}
.popular-area .swiper-slide {
  background-color: #fff;
}
.popular-area .swiper-slide .slider-pic {
  overflow: hidden;
  cursor: pointer;
}
.popular-area .swiper-slide .slider-pic img {
  width: 100%;
}
.popular-area .swiper-slide .slider-pic .cart-btn a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #181818;
  box-shadow: 2px 4px 1px -4px rgba(0, 0, 0, 0.7019607843) inset, -2px 3px 10px -4px rgba(255, 255, 255, 0.2) inset;
  padding: 1rem;
  font-size: 2rem;
  border-radius: 5rem;
  width: 5rem;
  opacity: 0;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.popular-area .swiper-slide .slider-pic .gallery-pic {
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.popular-area .swiper-slide .slider-pic .main-pic {
  opacity: 1;
  transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
}
.popular-area .swiper-slide .slider-pic #sale-badge {
  right: 2rem;
  top: 2rem;
  background-color: #BD1F00;
  color: #fff;
  font-size: 1.4rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  line-height: 19px;
}
.popular-area .swiper-slide .slider-pic:hover .main-pic {
  opacity: 0;
  transform: scale(1.05);
}
.popular-area .swiper-slide .slider-pic:hover .gallery-pic {
  opacity: 1;
}
.popular-area .swiper-slide .slider-pic:hover .cart-btn a {
  opacity: 1;
}
.popular-area .swiper-slide .slider-box {
  padding: 1rem 2rem 2rem;
  border-top: 1px solid #EAEBED;
}
.popular-area .swiper-slide .slider-box h3 {
  font-size: 1.8rem;
  margin: 2rem 0rem 1rem;
}
.popular-area .swiper-slide .slider-box h4 {
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
}
.popular-area .swiper-slide .slider-box h4 .regular-price {
  color: red;
  text-decoration: line-through;
  margin-right: 1rem;
}
.popular-area .swiper-slide .slider-box .star-rating {
  font-size: 1.2rem;
  color: #D4AF37;
}
.popular-area .swiper-slide .slider-box h5 {
  font-size: 1.4rem;
  margin-top: 1rem;
  color: #00ff88;
  animation: flashColor 1s linear infinite;
}

.offer-area .offer-box {
  background-image: url(../images/offer-bg.png);
  background-position: center;
  background-size: cover;
  padding: 5rem;
}
.offer-area .offer-box .offer-top li:first-child p {
  background-color: #181818;
  padding: 0.5rem 1.5rem;
  border-radius: 5rem;
  font-size: 1.4rem;
}
.offer-area .offer-box .offer-top li:last-child p {
  background-color: #D4AF37;
  padding: 0.5rem 1.5rem;
  border-radius: 5rem;
  color: #181818;
  margin-left: 2rem;
  font-size: 1.4rem;
}
.offer-area .offer-box h4 {
  font-size: 3rem;
  margin: 2rem 0rem;
  color: #fff;
}
.offer-area .offer-box .offer-collection {
  gap: 1rem;
  margin-bottom: 2rem;
}
.offer-area .offer-box .offer-collection li p {
  color: #fff;
  font-size: 1.4rem;
}
.offer-area .offer-box button {
  padding: 2rem;
}

.category-area .title-area {
  padding: 0rem 0rem 2rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid #414141;
}
.category-area .slider-box {
  overflow: hidden;
  cursor: pointer;
}
.category-area .slider-box a {
  bottom: 2rem;
  color: #fff;
  left: 50%;
  transform: translate(-50%, 0px);
  background-color: #181818;
  padding: 0.5rem 3rem;
  border-radius: 5rem;
  font-size: 1.4rem;
  margin: 0;
  width: 100%;
  max-width: 70%;
  text-align: center;
  line-height: inherit;
}
.category-area .slider-box:hover img {
  transform: scale(1.2);
}

.best-seller-area .best-seller-left {
  overflow: hidden;
  height: 100%;
}
.best-seller-area .best-seller-left .best-seller-content {
  top: 5rem;
  left: 0rem;
  z-index: 1;
  padding: 3rem;
}
.best-seller-area .best-seller-left .best-seller-content h2 {
  font-size: 3rem;
  color: #fff;
  text-transform: capitalize;
}
.best-seller-area .best-seller-left .best-seller-content p {
  margin-top: 2rem;
  color: #ddd;
}
.best-seller-area .best-seller-left .best-seller-content button {
  padding: 1rem 2.5rem;
  line-height: inherit;
  margin-top: 3rem;
}
.best-seller-area .best-seller-left img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.best-seller-area .best-seller-left:hover img {
  transform: scale(1.1);
}
.best-seller-area .best-seller-right .swiper-slide {
  background-color: #fff;
}
.best-seller-area .best-seller-right .swiper-slide .slider-pic {
  overflow: hidden;
  cursor: pointer;
}
.best-seller-area .best-seller-right .swiper-slide .slider-pic img {
  width: 100%;
}
.best-seller-area .best-seller-right .swiper-slide .slider-pic .cart-btn a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #181818;
  box-shadow: 2px 4px 1px -4px rgba(0, 0, 0, 0.7019607843) inset, -2px 3px 10px -4px rgba(255, 255, 255, 0.2) inset;
  padding: 1rem;
  font-size: 2rem;
  border-radius: 5rem;
  width: 5rem;
  opacity: 0;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.best-seller-area .best-seller-right .swiper-slide .slider-pic .gallery-pic {
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.best-seller-area .best-seller-right .swiper-slide .slider-pic .main-pic {
  opacity: 1;
  transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
}
.best-seller-area .best-seller-right .swiper-slide .slider-pic #sale-badge {
  right: 2rem;
  top: 2rem;
  background-color: #BD1F00;
  color: #fff;
  font-size: 1.4rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  line-height: 19px;
}
.best-seller-area .best-seller-right .swiper-slide .slider-pic:hover .main-pic {
  opacity: 0;
  transform: scale(1.05);
}
.best-seller-area .best-seller-right .swiper-slide .slider-pic:hover .gallery-pic {
  opacity: 1;
}
.best-seller-area .best-seller-right .swiper-slide .slider-pic:hover .cart-btn a {
  opacity: 1;
}
.best-seller-area .best-seller-right .swiper-slide .slider-box {
  padding: 1rem 2rem 2rem;
  border-top: 1px solid #EAEBED;
}
.best-seller-area .best-seller-right .swiper-slide .slider-box h3 {
  font-size: 1.8rem;
  margin: 2rem 0rem 1rem;
}
.best-seller-area .best-seller-right .swiper-slide .slider-box h4 {
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
}
.best-seller-area .best-seller-right .swiper-slide .slider-box h4 .regular-price {
  color: red;
  text-decoration: line-through;
  margin-right: 1rem;
}
.best-seller-area .best-seller-right .swiper-slide .slider-box .star-rating {
  font-size: 1.2rem;
  color: #D4AF37;
}
.best-seller-area .best-seller-right .swiper-slide .slider-box h5 {
  font-size: 1.4rem;
  margin-top: 1rem;
  color: #00ff88;
  animation: flashColor 1s linear infinite;
}

.signup-area .signup-box {
  padding: 3rem;
  background-color: #D4AF37;
  align-items: center;
  justify-content: space-between;
}
.signup-area .signup-box .signup-left h3 {
  color: #fff;
  font-size: 3rem;
  font-weight: 700;
}
.signup-area .signup-box .signup-left p {
  color: #000;
}
.signup-area .signup-box .signup-right {
  padding: 2rem;
  background-color: #181818;
  position: relative;
}
.signup-area .signup-box .signup-right input {
  max-width: 100%;
  width: 50rem;
  background-color: transparent;
  border: none;
  outline: none;
  color: #6e767d;
}
.signup-area .signup-box .signup-right .common-btn {
  position: absolute;
  right: 0;
  top: 50%;
  line-height: inherit;
  padding: 1rem 3rem;
  transform: translate(-10%, -50%);
}

.footer-area {
  background-image: url(../images/footer-bg.jpg);
  position: relative;
  padding: 7rem 0rem 2rem;
  z-index: 1;
  background-position: center;
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
}
.footer-area .footer-logo-area .footer-logo {
  max-width: 20rem;
  filter: brightness(1) invert(1);
}
.footer-area .footer-logo-area ul {
  gap: 1rem;
  align-items: center;
}
.footer-area .footer-logo-area ul li h3 {
  color: #fff;
  font-size: 1.6rem;
}
.footer-area .footer-logo-area ul li a i {
  border: 2px dotted #6e767d;
  padding: 1rem;
  font-size: 1.2rem;
  border-radius: 5rem;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-area:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6784313725);
  z-index: -1;
}
.footer-area .footer-menu h3 {
  color: #fff;
  font-size: 2.5rem;
  text-transform: capitalize;
  letter-spacing: 1px;
}
.footer-area .footer-menu ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.footer-area .footer-menu ul li a {
  font-size: 1.8rem;
  position: relative;
  transition: all 0.3s;
}
.footer-area .footer-menu ul li a:before {
  position: absolute;
  content: "\f068";
  left: 0;
  top: 0;
  font-size: 1.5rem;
  font-family: FontAwesome;
  color: gold;
  opacity: 0;
  transition: all 0.3s;
}
.footer-area .footer-menu ul li a:hover a {
  padding-left: 2rem;
}
.footer-area .footer-menu ul li a:hover:before {
  opacity: 1;
  transition: all 0.3s;
}
.footer-area .footer-menu ul li a:hover {
  transition: all 0.3s;
  padding-left: 2rem;
}
.footer-area .gallery-menu ul {
  flex-direction: row;
  flex-wrap: wrap;
}
.footer-area .gallery-menu ul li a:before {
  display: none;
}
.footer-area .gallery-menu ul li a:hover {
  padding-left: inherit;
}
.footer-area .gallery-menu ul li a img {
  max-width: 10rem;
  border: 1px solid #D4AF37;
}
.footer-area .copyright-area {
  margin-top: 5rem;
  padding-top: 4rem;
  border-top: 1px solid;
}
.footer-area .copyright-area .copyright-right {
  text-align: right;
}

@media (min-width: 1700px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1580px;
  }
}
@media (max-width: 1700px) {
  .header-area .header-middle .form-area input {
    width: 40rem;
  }
}
@media (max-width: 1399px) {
  .header-area .menu-area ul li a {
    font-size: 1.5rem;
  }
  .header-area .header-middle .form-area input {
    width: 30rem;
    font-size: 1.6rem;
  }
  .header-area .header-middle .form-area select {
    font-size: 1.6rem;
  }
  .topbar-area .topbar-left p {
    font-size: 1.6rem;
  }
  .topbar-area .topbar-right ul li a {
    font-size: 1.6rem;
  }
}
@media (min-width: 1400px) {
  .footer-area .gallery-menu ul li a img {
    max-width: 9rem;
  }
}
@media (max-width: 1199px) {
  .header-area .header-middle .form-area input {
    width: 23rem;
  }
  .category-area .slider-box a {
    padding: 0.5rem 1rem;
    max-width: 80%;
  }
  .best-seller-area .best-seller-left .best-seller-content {
    padding: 2rem;
  }
  .best-seller-area .best-seller-left .best-seller-content h2 {
    font-size: 2.5rem;
  }
  .footer-area .gallery-menu {
    margin-top: 4rem;
  }
  .footer-area .gallery-menu ul li a img {
    max-width: 6rem;
  }
}
@media screen and (max-width: 991px) {
  .p-70 {
    padding: 4rem 0rem;
  }
  p {
    font-size: 1.6rem;
  }
  .topbar-area .topbar-left p {
    font-size: 1.6rem;
  }
  .topbar-area .topbar-right ul li a {
    font-size: 1.6rem;
  }
  .header-area .header-middle .form-area input {
    width: 100%;
  }
  .header-area .header-middle .form-area select {
    display: none;
  }
  .header-area .header-right ul {
    gap: 1rem;
  }
  .header-area .menu-area ul {
    justify-content: space-between;
  }
  .header-area .menu-area ul li a {
    font-size: 1.6rem;
  }
  .banner-area .banner-swiper .swiper-slide h1 {
    font-size: 3rem;
  }
  .banner-area .banner-swiper .swiper-slide .slider-box {
    width: 100%;
  }
  .banner-area .side-banner {
    margin-top: 1.5rem;
    flex-direction: row;
  }
  .banner-area .side-banner .side-banner-box {
    width: 100%;
  }
  .category-area .slider-box a {
    max-width: 80%;
    padding: 0.5rem 1rem;
  }
  .menu-area .dropdown-menu img {
    max-width: 13rem;
  }
  .footer-area .footer-menu h3 {
    font-size: 2rem;
  }
}
@media screen and (min-width: 768px) {
  .menu-area .dropdown-menu {
    border: none;
    border-radius: 0;
    transform: scale(1, 0);
    transform-origin: top;
    transition: all 300ms ease-in-out 0s;
    top: 100%;
    display: block;
    background-color: #fff;
    position: absolute;
    left: 0;
    right: 0;
    gap: 0rem;
    flex-wrap: wrap;
    margin: 0rem 0.7rem;
    justify-content: space-between;
  }
  .menu-area .dropdown-menu li {
    padding: 2rem;
  }
  .menu-area .dropdown-menu li a h3 {
    color: #181818;
  }
  .menu-area .dropdown-menu img {
    max-width: 15rem;
    border-radius: 50%;
    border: 1px solid #D4AF37;
    padding: 2rem;
    margin-bottom: 2rem;
  }
  .menu-area .dropdown-menu img:hover {
    transform: scale(1.1);
  }
  .menu-area .dropdown {
    position: inherit;
  }
  .menu-area .dropdown:hover .dropdown-menu {
    top: 100%;
    transform: scale(1, 1);
    padding: 0;
    left: 0;
    right: 0;
    gap: 0rem;
  }
}
@media screen and (max-width: 767px) {
  .common-btn {
    padding: 1rem 1rem;
    font-size: 1.3rem;
  }
  .offcanvas-title img {
    max-width: 10rem;
  }
  .offcanvas-body .dropdown-toggle {
    border: none;
    background-color: transparent;
    width: 100%;
    text-align: left;
    font-size: 1.8rem;
  }
  .offcanvas-body .dropdown-menu {
    width: 100%;
  }
  .offcanvas-start {
    background: linear-gradient(90deg, #181818 0%, #181818 58%, #181818 100%);
    border-right: transparent !important;
  }
  .offcanvas-title img {
    filter: brightness(1) invert(1);
  }
  .btn-close {
    filter: brightness() invert(1);
  }
  .offcanvas-body .dropdown-menu {
    position: inherit !important;
    transform: translate3d(0px, 0px, 0px) !important;
    padding: 0;
  }
  .offcanvas-body ul li {
    border-bottom: 1px solid #000;
    padding: 0.5rem 0rem;
  }
  .offcanvas-body ul li a {
    font-size: 1.6rem;
    padding: 1rem;
  }
  .offcanvas-body .dropdown-menu {
    border-radius: 0rem;
  }
  .offcanvas-body .dropdown-menu li {
    padding: 0;
    border: none;
  }
  .offcanvas-body .dropdown-menu li a {
    padding: 0.8rem 1rem;
    border-bottom: 1px solid #ddd;
  }
  .offcanvas-body .dropdown-menu li:last-child a {
    border-bottom: 0;
  }
  .topbar-area .topbar-left p {
    text-align: center;
    margin-bottom: 1rem;
  }
  .topbar-area .topbar-right ul {
    justify-content: center;
  }
  .header-area .header-middle {
    margin-top: 2rem;
  }
  .header-area .header-middle .form-area input {
    width: 100%;
  }
  .header-area .header-middle .form-area select {
    display: none;
  }
  .header-area .header-right ul {
    gap: 1rem;
  }
  .header-area .mobile-nav-icon {
    display: table;
    margin-left: auto;
    font-size: 3rem;
  }
  .banner-area .banner-swiper .swiper-slide h1 {
    font-size: 2.5rem;
  }
  .banner-area .side-banner {
    flex-direction: column;
  }
  .title-area ul li h3 {
    font-size: 1.6rem;
  }
  .popular-area .swiper-slide .slider-box {
    padding: 1rem;
  }
  .popular-area .swiper-slide .slider-box h3 {
    font-size: 1.6rem;
  }
  .best-seller-area .best-seller-left img {
    width: 100%;
    max-height: 30rem;
    margin-bottom: 2rem;
  }
  .offer-area .offer-box {
    padding: 2rem;
  }
  .offer-area .offer-box .offer-top li {
    margin-bottom: 1rem;
  }
  .offer-area .offer-box .offer-top li p {
    display: inline;
  }
  .offer-area .offer-box .offer-top li:last-child p {
    margin-left: 0rem;
  }
  .category-area .slider-box a {
    max-width: 90%;
    font-size: 1.2rem;
    padding: 0.5rem 0.5rem;
    bottom: 1rem;
  }
  .signup-area .signup-box .signup-left h3 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  .footer-area {
    padding: 3rem 0rem 2rem;
  }
  .footer-area .footer-logo-area {
    text-align: center;
  }
  .footer-area .footer-logo-area ul {
    justify-content: center;
    margin-bottom: 2rem;
  }
  .footer-area .footer-menu {
    margin: 2rem 0rem;
  }
  .footer-area .copyright-area {
    margin-top: 1rem;
    padding-top: 2rem;
  }
  .footer-area .copyright-area .copyright-left {
    text-align: center;
  }
  .footer-area .copyright-area .copyright-right {
    text-align: center;
    margin-top: 2rem;
  }
}/*# sourceMappingURL=main.css.map */